streamlit==1.39.0
tiktoken==0.8.0
loguru==0.7.2

langchain==0.1.16
langchain-core==0.1.48
langchain-community==0.0.34
langchain-text-splitters==0.0.1
langchainhub==0.1.20

transformers==4.38.2
sentence-transformers==2.6.1
torch==2.1.2

httpx==0.27.0
pypdf==4.2.0
faiss-cpu==1.8.0
python-docx==1.1.0
unstructured==0.15.0

langserve==0.0.41

fastapi==0.110.0
uvicorn==0.29.0

datasets==2.14.6
accelerate==0.27.2
peft==0.7.1
trl==0.7.11

# 이건 Streamlit에서 거의 문제 만드니까 일단 빼는 걸 추천함
# bitsandbytes==0.41.0
